<div class="container">
    <div class="cartBox shadow">
        <!-- <form [formGroup]="dateForm" (ngSubmit)="sendDate()">
            <div class="row my-2">
                <div class="col-md-3">
                    <label for="">Start Date</label>
                    <input type="date" class="form-control" formControlName="startDate"/>
                </div>
                <div class="col-md-3">
                    <label for="">End Date</label>
                    <input type="date" class="form-control" formControlName="endDate"/>
                </div>
                <div class="col-md-2 d-flex align-items-end">
    
                    <button class="btn apply text-white">Apply</button>
                </div>
            </div>
        </form> -->
        <table class="table table-striped text-center bg-white responsive-table">
            <thead>
                <tr>
                   
                    <th>UserId</th>
                    <th>Data</th>
                    <th style="width: 25%;">Quantity</th>
                    <th>Delete</th>
                    <th>View</th>

                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of carts; let index = index" >
                  
                    <td>{{item.userId}}</td>
                    <td>{{item.date | date:"shortDate"}} </td>
                  
                    <td>{{item.products.length}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteOne(item.id)"  >Delete</button>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="view(index)">
                           View
                          </button>
                    </td>
                </tr>
            </tbody> 
        
        </table>
        
    </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:900px !important ;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Details of Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="cartBox">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Price</th>
                            <th style="width: 25%;">Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let index = index" >
                            <td><img src="{{item.item.image}}" alt=""></td>
                            <td>{{item.item.title}}</td>
                            <td>{{item.item.price}} L.E</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.item.price * item.quantity}} L.E</td>
                        </tr>
                    </tbody> 
            
                </table>
            </div>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>

